body {
    background-image: linear-gradient(to bottom right, #DBA9E8, #E4C7FF, #FFBAF6);
    height: 100vh;
    font-family: 'PT Serif', serif;
}

.heading {
    font-family: 'Exo', sans-serif;
}

.fullScreen {
    height: 95vh;
    width: 98vw;
}

.hidden {
    display: none;
    margin-bottom: 0 !important;
}

.videoStream {
    position: absolute;
    width: 640px;
    height: 480px;
    z-index: -1;
}
  
.touchControls {
    position: absolute;
    width: 640px;
    height: 480px;
}

#videoStream {
    transform: rotate(180deg);
}
