body {
    background-image: linear-gradient(to bottom right, #BF6CFF, #F790FF, #CC79E8);
    height: 100vh;
}

.fullScreen {
    height: 96vh;
    width: 98vw;
}

.hidden {
    display: none;
}

.videoStream {
    position: absolute;
    width: 640px;
    height: 480px;
    z-index: -1;
}
  
.touchControls {
    position: absolute;
    width: 640px;
    height: 480px;
}

#videoStream {
    transform: rotate(180deg);
}
