body {
    background-image: linear-gradient(to bottom right, #88959D, #C5D4DB, #E0ECE0);
    height: 100vh;
    font-family: 'PT Serif', serif;
}

.heading {
    font-family: 'Exo', sans-serif;
}

.image-container {
    position: relative;
}

.red-text {
    color: red;
}

.fullScreen {
    height: 95vh;
    width: 98vw;
}

.hidden {
    display: none;
    margin-bottom: 0 !important;
}

.videoStream {
    position: absolute;
    width: 640px;
    height: 480px;
    z-index: -1;
}
  
.touchControls {
    position: absolute;
    width: 640px;
    height: 480px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.large-font {
    font-size: 3rem;
}

.extra-large-font {
    font-size: 6rem;
}

#videoStream {
    transform: rotate(180deg);
}

#connectedUsers {
    display: inline-block;
}
